{% for room in rooms %}
<div style="border: 1px solid black; margin: 10px">
  {% if request.user.is_authenticated %}
  <div style="margin-bottom: 10px">
    {% if request.user == room.host %}
    <a href="{% url 'updateRoom' room.id %}">Edit Room</a>
    <a href="{% url 'deleteRoom' room.id %}">Delete Room</a>
    {% endif %}
  </div>
  {% endif %}
  <span>@{{room.host.username}}</span>
  <h5><a href="{% url 'Room' room.id %}">{{ room.name }}</a></h5>
  <p>{{room.description}}</p>
  <p>Topic name : {{room.topic}}</p>
</div>
{% endfor %}
