{% if rooms %}
  {% for room in rooms %}
  <div class="card mb-2">
    {% if request.user.is_authenticated %}
    <div class="mb-2">
    </div>
    {% endif %}
    <span>@<a href="{% url 'profile' room.host.username %}">{{ room.host.username }}</a></span>
    <h5><a href="{% url 'Room' room.id %}">{{ room.name }}</a></h5>
    <p>{{room.description}}</p>
    <p>Topic name : {{room.topic}}</p>
  </div>
  {% endfor %}

{% else %}
  <div class="card text-center">
    <p>No Rooms for current Topic...</p>
  </div>
{% endif %}