{% extends 'main.html' %} 

{% block content %}

    <div class="chat-container">
        <div>
            <h1>Admin : {{room.host}}</h1>
            <h2>Room Name : {{ room.name }}</h2>
            <p>{{ room.description }}</p>

            <div class="conversation">
                    {% for message in all_messages %}
                    <div class="card mb-2">
                        <span>@{{ message.user }} <span style="color: rgb(49, 18, 228);float:right">  {{ message.createdAt | timesince }} Ago</span></span>
                        {% if message.user == request.user %}
                            <a class="delete-btn" href="{% url 'deleteMessage' message.id %}">Delete</a>
                        {% endif %}
                        <p>{{ message.body }}</p>
                    </div>
                    {% endfor %}
                    <br>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'createMessage' room.id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="message_body" placeholder="Please Type your Message Here...">
                        <input class="create-btn" type="submit" value="Send">
                    </form>
                </div>
                {% endif %}
        </div>

        {% if request.user.is_authenticated %}
            <div>
                <h1>Participants</h1>
                <ul class="participants-list">
                    {% for participant in participants %}
                        <li><h3>@ <a href="{% url 'profile' participant.username %}">{{ participant.username }}</a></h3></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
    </div>

{% endblock %}
