{% extends 'main.html' %}

{% block content %}
    <div class="fade-in">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>   
        {% endif %}
    </div>
    {% if login == 'Done' %}
        <div class="bounce-in" style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 60vh;">
            <form class="card" style="width: 100%; max-width: 400px;" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <hr>
                <h1 class="text-center">Login</h1>
                <label for="uname">Username</label>
                <input type="text" id="uname" name='username' placeholder="Enter username here">
                <br>
                <label for="pass">Password</label>
                <input type="password" name='password' id="pass"  placeholder="Enter Password here">
                <br>
                <input class="create-btn ripple" type="submit" value="Login">
            </form>
            <br>
            <a class="create-btn ripple slide-in-right" style="display:inline-block; margin-top: 12px;" href="{% url 'register' %}">Create account</a>
        </div>
    {% else %}  
        <div class="bounce-in" style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 60vh;">
            <form class="card" style="width: 100%; max-width: 400px;" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input class="create-btn ripple" type="submit" value="Register">
            </form>
            <br>
            <a class="edit-btn ripple slide-in-left" style="display:inline-block; margin-top: 12px;" href="{% url 'login' %}">Already have Account?</a>
        </div>
    {% endif %}

{% endblock %}