<h2>Recent Activity</h2>
{% for message in recent_messages %}
<div style="background-color: bisque">
  <span
    ><b>@{{ message.user }}</b>
    <span style="color: green">
      {{ message.createdAt|timesince}} Ago</span
    ></span
  >
  <br />
  <small><b>Replied To : </b>{{ message.room }}</small>
  <p><b>Message</b> : {{ message.body }}</p>
  <hr />
  {% if message.user == request.user %}
  <a style="color: red" href="{% url 'deleteMessage' message.id %}">Delete</a>
  {% endif %}
</div>
{% endfor %}
