{% extends 'main.html' %} 


{% block content %}

    <style>
        .home-container{
            display: grid ;
            grid-template-columns: 1fr 2fr 1fr;
        }
    </style>
    <form request="GET" action="{% url 'Rooms' %}">
      <input type="text" name="q" id="" placeholder="Enter Topic Name" />
      <input type="submit" value="Search">
    </form>
    <div class="home-container">
        <div>
           {% include 'base/topics_components.html' %}
        </div>

        <div>   
   
                {% if user.is_authenticated %}
                    <a href="{% url 'createRoom' %}">Create Room</a>
                {% endif %}
            
                <div>
                     {% include 'base/feed_component.html' %}
                </div>

        </div>

        <div>
           {% include 'base/recent_activity_component.html' %}
        </div> 
    </div>
    
{% endblock %}
