{% extends 'main.html' %} 

{% block content %}

    <form class="cardSearch mb-2" request="GET" action="{% url 'Rooms' %}">
      <input type="text" name="q" id="" placeholder="Enter Topic Name" />
      <input class="create-btn" type="submit" value="Search">
    </form>
    <div class="home-container">
        <div>
           {% include 'base/topics_components.html' %}
        </div>

        <div>   
                {% if user.is_authenticated %}
                <b><a class="create-btn" href="{% url 'createRoom' %}">Create Room</a></b>
                {% endif %}
            
                <div>
                     {% include 'base/feed_component.html' %}
                </div>

        </div>

        <div>
           {% include 'base/recent_activity_component.html' %}
        </div> 
    </div>
    
{% endblock %}
